.container-images {
  display: grid !important;
  grid-template-columns: 500px 500px;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.container-image {
  width: 250px;
}

button {
  border-radius: 6px;
  text-transform: uppercase;
  height: 18px;
  border: 1px solid #18ab29;
  background-color: #44c767;
  color: #fff;
  cursor: pointer;
  width: 100%;
}
